{% extends "../base.html" %}
{% load static %}
{% block content%}

{% for post in top_posts %}
    <div class="post">
        <h1>{{ post.title }}</h1>
        {% with content=post.get_content %}
        {% if post.content_type == "IMAGE" %}
            <img src="{% static content %}" alt="">
        {% endif %}

        {% if post.content_type == "SNIPPET" %}
            
        {% endif %}

        {% if post.content_type == "TEXT" %}
            
        {% endif %}
        {% endwith %}
    </div>
{% endfor %}

{% endblock %}
